{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    "no-bitwise": "off",
    "import/no-extraneous-dependencies": "off",
    "no-underscore-dangle": "off",
    "semi": ["error", "never"],
    "no-console": [
      "error", { "allow": ["info", "warn", "error"] }
    ],
    "no-unused-vars": ["error", {
      "argsIgnorePattern": "^_"
    }],
    "import/extensions": ["error", "always", {
      "js": "never"
    }],
    "no-useless-escape": 0,
    "space-before-function-paren": 0
  },
  "env": {
    "node": true
  }
}
