.DS_Store

.idea/
*.sublime-workspace
*.sublime-project
.vscode

node_modules/
npm-debug.log.*
yarn-debug.log*
yarn-error.log*

.bundle
.cache
.sass-cache
.eslintcache

build/
.tmp
test/unit/coverage
test/e2e/reports
selenium-debug.log

*.log

jest_*/*
test/functional/screenshots
